{% extends "layout.html" %}
{% import "macros/events.html" as event %}
{% from "macros/pagination.html" import render_pagination %}
{% block feed %}
    <link rel="alternate" type="application/rss+xml" title="Tor Project events" href="{{ '/@atom/events'|url }}" />
{% endblock %}
{% block body %}
  <h1>{{ this.title }}</h1>
  {% for child in this.pagination.items %}
    {{ event.render(child, from_index=true) }}
  {% endfor %}
  {%- if not this.pagination.has_next -%}
    <h2 class="title"><a href="{{ '/sitemap#events'|url }}">Visit the sitemap for more events ➡</a></h2>
  {%- endif -%}
  {{ render_pagination(this.pagination) }}
{% endblock %}
