{% extends "layout.html" %}
{% block body %}
<h1 class="title">Sitemap</h1>
{%- set recent_posts = site.get('/blog').children.order_by('-pub_date') -%}
{%- set archived_posts = bag('archived_posts').items() -%}
{%- set recent_events = site.get('/event').children.order_by('-start_date') -%}
{%- set archived_events = bag('archived_events').items() -%}
<h2>Blog posts</h2>
<ul>
{%- for post in recent_posts %}
    <li>{{ post.pub_date}} <a href="{{ post|url }}">{{ post.title }}</a></li>
{%- endfor -%}
{%- for url, post in archived_posts|sort(attribute='1.pub_date', reverse=True) %}
    <li>{{ post.pub_date}} <a href="../{{ url }}">{{ post.title }}</a></li>
{%- endfor -%}
</ul>
<a name="events" />
<h2>Events</h2>
<ul>
{%- for event in recent_events %}
    <li>{{ event.start_date}} <a href="{{ event|url }}">{{ event.title }}</a></li>
{%- endfor -%}
{%- for url, post in archived_events|sort(attribute='1.start_date', reverse=True) %}
    <li>{{ post.start_date}} <a href="../event/{{ url }}">{{ post.title }}</a></li>
{%- endfor -%}
</ul>
{% endblock %}
